h1 {
  color: maroon;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
  background-color:#eeee;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
.intro {
  font-style: italic;
}
header{
background-color: green;
text-align: center;
}
.Address{
  color: blue;
  text-align: center;
}
.important{
  text-align: center;
}
.address{
  text-align: center;
}
li {
  display: inline;
  background-color: #dddddd;

}
